{
	"extends": ["eslint:recommended", "next/core-web-vitals", "next"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["simple-import-sort", "import"],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"no-undef": "warn",
		"no-unused-vars": "off",
		"comma-dangle": ["error", "never"],
		"comma-style": [
			"error",
			"first",
			{ "exceptions": { "ArrayExpression": true, "ObjectExpression": true, "FunctionDeclaration": true } }
		],
		"arrow-body-style": "off",
		"arrow-parens": ["error", "as-needed"],
		"no-console": ["error", { "allow": ["warn", "error", "log"] }],
		"prefer-const": ["error"],
		"no-var": ["error"],
		"no-new-object": ["error"],
		"object-shorthand": ["error"],
		"prefer-object-spread": ["error"],
		"array-callback-return": ["error"],
		"eol-last": ["error", "always"],
		"prefer-destructuring": [
			"error",
			{
				"array": true,
				"object": true
			},
			{
				"enforceForRenamedProperties": false
			}
		],
		"quotes": [2, "single", { "allowTemplateLiterals": true }],
		"prefer-template": ["error"],
		"no-useless-escape": ["error"],
		"prefer-rest-params": ["error"],
		"no-new-func": ["error"],
		"brace-style": ["error"],
		"no-param-reassign": ["error"],
		"prefer-spread": ["error"],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"indent": ["error", "tab", { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }, "MemberExpression": 1 }],
		"prefer-arrow-callback": ["error"],
		"implicit-arrow-linebreak": ["error"],
		"no-useless-constructor": ["error"],
		"max-len": ["off"],
		"semi": ["off"],
		"new-cap": ["off"],
		"keyword-spacing": ["error", { "before": true, "after": true }],
		"no-multi-spaces": ["error"],
		"no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
		"simple-import-sort/exports": "error",
		"import/first": "error",
		"import/newline-after-import": "error",
		"import/no-duplicates": "error",
		"simple-import-sort/imports": [
			"error",
			{
				"groups": [
					["^(next)(/.*|$)"],
					["^react", "^@?\\w"],
					["^\\u0000"],
					["^\\.\\.(?!/?$)", "^\\.\\./?$"],
					["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
					["^.+\\.s?css$"]
				]
			}
		]
	}
}
