@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

html,
body,
:root {
  height: 100%;
}

.font-kollektif {
  font-family: "Kollektif Regular";
}

.font-clash-display-bold {
  font-family: 'Clash Display Bold';
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-button {
  @apply flex justify-center w-full px-3 py-2 text-sm font-medium text-white rounded-md shadow-sm bg-core hover:bg-blue-700 disabled:bg-blue-500 disabled:cursor-not-allowed focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

/* Account Profile  */
.account-form-image-label {
  @apply flex h-16 w-16 items-center justify-center rounded-full bg-light-2 dark:bg-dark-4 !important;
}

.account-form-image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-core !important;
}

.account-form-input {
  @apply border h-12 placeholder:text-gray-400 border-light-2 dark:border-dark-4 bg-light-1 dark:bg-dark-3 text-dark-1 dark:text-light-1 ring-1 ring-gray-200 dark:ring-gray-700 focus-visible:ring-offset-0 focus-visible:ring-2 focus-visible:ring-core transition-colors duration-300 !important;
}

.account-form-textarea {
  @apply border max-h-32 resize-none placeholder:text-gray-400 border-light-2 dark:border-dark-4 bg-light-1 dark:bg-dark-3 text-dark-1 dark:text-light-1 ring-1 ring-gray-200 dark:ring-gray-700 focus-visible:ring-offset-0 focus-visible:ring-2 focus-visible:ring-core transition-colors duration-300 !important;
}

/* Overlay styles */
.fade-enter,
.fade-exit {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-enter-active,
.fade-exit-active {
  opacity: 0;
  pointer-events: none;
}

.shadow-ab {
  --tw-shadow: 0 2px 5px 1px rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 2px 5px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}